# macOS
.DS_Store
.AppleDouble
.LSOverride

# Node
node_modules/
npm-debug.log
yarn-error.log

# Build
dist/
build/

# env
env/


# Editor/IDE
.vscode/
.idea/
*.swp
*.swo

# Environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.sqlite
*.sqlite3

# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.eggs/
.Python

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
*.sqlite3.backup-*
media/
staticfiles/

# Virtual environments
env/
venv/
.venv/
ENV/
